/* Default CSS for pages */

* {
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

html,
body {
  background-color: #ffd484;
  width: 100%;
  height: 100%;
}

table {
  width: 100%;
}

h1, h2, h3, h4, h5 {
  font-size: 2rem;
  padding: 20px;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

p, a {
  font-size: 1.1rem;
}


/* Page Display */
.MAIN {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

.MAIN > .HEAD {
  flex: 0 1 auto;
}

.MAIN > .PAGE {
  flex: 1 1 auto;
}

.MAIN > .FOOT {
  flex: 0 1 0;
}

/* Navigation CSS */
.HEAD {
  text-align: center;
}

nav {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
  background-color: #0703;
  box-shadow: 0px 10px 20px #0003;
}

nav a {
  color: #000000;
  text-decoration: none;
  padding: 20px;
  margin: 0 auto;
}

nav a:hover {
  color: #333333;
  background-color: #FFD848EE;
}

/* Base Page CSS */
.PAGE {
  padding: 40px;
}

/* Footer CSS */
.FOOT {
  padding: 15px;
  color: #333333;
  background-color: #FFD848EE;
  text-align: center;
}

/* Page Layouts */
.PAGE > div,
.PAGE.split_1 > div {
  width: 100%;
}

.PAGE.split_2 > div {
  width: 50%;
}

.PAGE.split_3 > div {
  width: 32%;
}

.PAGE[class*="split_"] {
  gap: 20px;
  display: flex;
  justify-content: center;
  border: 1px solid #00000077;
}

.PAGE[class*="split_"] > div {
  border: 1px solid #00000077;
  height: 100%;
}

.PAGE[class*="split_"] > div > h1{
  text-align: center;
}

.wrapper {
  margin: 20px;
}

.balance {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #00000077;
  background-color: #00AAFF77;
}

.balance.expense {
  background-color: #FF000077;
}

.balance.total {
  background-color: #00BB0077;
  margin-bottom: 0px;
}
