@media screen and (max-width: 980px) {
  nav {
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: center;

  }

  nav a {
    /* width: 100%;
    padding-top: 10px;
    padding-bottom: 10px; */
  }

  .PAGE {
    display: flex;
    flex-direction: column;
  }

  .PAGE.split_3 > div {
    display: block;
    width: 100%;
  }

  .PAGE.split_2 > div {
    display: block;
    width: 100%;
  }
}